<?xml version="1.0" encoding="utf-8"?>
<!-- Data model last updated by: Jack-->
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/BrentwoodDBModel.csdl|res://*/BrentwoodDBModel.ssdl|res://*/BrentwoodDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BrentwoodPrintingDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>