<?xml version="1.0" encoding="utf-8"?>
<!--Jack-->
<configuration>
    <system.web>
        <authorization>
            <allow roles="Admin" />
            <deny roles="Approved Customer" />
            <deny roles="Customer" />
            <deny roles="Employee" />
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>